body{
   /*   display: flex; */
     background-color: #001c4c;
     margin: 0;
   
   /*  background: url(https://s5.gifyu.com/images/practice-background774448d467a20f99.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden; */
   
}


/* @media only screen and (max-width: 1366px) {
    body {
        background-color: pink;
       
    }
  }  */
/* 
@media only screen and (max-width: 600px) {
    body {
        background-color: blueviolet; */
        /* background: url(https://s5.gifyu.com/images/practice-background774448d467a20f99.png) no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        overflow: hidden; */
  /*   }
  } 
 */
  #points{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #001c4c;
    border: 8px solid aqua;
    color: white;
    margin-left: 685px;
    margin-top: 20px;
   
    
    
  }
#points p{
      display: flex;
      justify-content: center;
      margin-top: 45px;
      font-size: 2rem;
  }

  #question p{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: white;
    font-size: 1.8rem;
  }


  #answer{
    margin: 100px;
}

  #answer button{
    background-color:#90299c;
    border:none;
    color: white;
    padding: 10px 100px 10px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1.5rem;
  }


  #button-next{
    background-color:#1abdce;
    border: 7px solid #1086a2;
    color: white;
    padding: 10px 100px 10px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    margin-left: 500px;
    margin-top: 50px;
  }




nav{
    width: 100%;
}
  
  nav .circles{
      display: flex;
      padding-right: 0;
      padding-left: 0;
     /*  border-radius: 50%;
      height: 150px;
      width: 150px;
      background-color:#0c3062; */
  }
  #circle1{
    height: 45px;
    width: 90px;
    border-bottom-left-radius: 20vh;
    border-bottom-right-radius: 20vh;
    background-color:#1abdce;
    margin-left: 50px;
    margin-bottom: 100px;
  }


  #circle2{
    height: 150px;
    width: 150px;
    border-radius: 0 0 0 40vh;
    background-color:#1abdce;
    margin-left: 1250px;

  }
  
  #background-circle{
    height: 387px;
    width: 1550px; 
    border-radius: 50% /0 0 100% 100% ;
    background-color:#0c3062;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  footer #circle4{
  
        height: 150px;
        width: 150px;
        border-radius:  0  40vh 0  0 ;
        background-color:#1abdce;
        margin-top: 10px;
    
  }




  #modalBoton {
    display: none;
  }
  
  #skipQuestionButton {
    display: none;
  }