body{
   /*   display: flex; */
     background-color: #001c4c;
     margin: 0;
   
   /*  background: url(https://s5.gifyu.com/images/practice-background774448d467a20f99.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden; */
   
}

.score-section-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#score-section{
    position: fixed;
    height: 500px;
    background-color: #0c3062;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 500px;
    margin-top: -271px;
 /*    z-index: -1; */
}

#points{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #001c4c;
    border: 8px solid aqua;
    color: white;
    margin-left: 35%;
    margin-top: 300px; 
  } 

 #points p{
      display: flex;
      justify-content: center;
      margin-top: 45px;
      font-size: 2rem;
  }

#score{
    color:#90299c;
    font-weight: bold;
    margin-right:10px;
}


#circle1{
    background-color: #1abdce;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 209px;
    right: 60px;
} 

.footer{
    background-color: coral;
    height: 200px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


#button-next{
    background-color:#1abdce;
    border: 7px solid #1086a2;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 50px;
  }
#circle2{
    background-color: #1abdce;
    width: 61px;
    height: 89px;
    border-radius: 50%;
    position: absolute;
    top: 199px;
    left: 101px;
} 

#circle3{
    background-color: #90299c;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 284px;
    right: 163px;
} 

#circle4{
  background-color: #90299c ;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  top: 345px;
  right: 149px;
} 

#circle5{
  background-color: #90299c;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 280px;
  left: 219px;
} 

#circle6{
  background-color: #90299c ;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  top: 345px;
  right: 149px;
} 




/* @media only screen and (max-width: 1366px) {
    body {
        background-color: pink;
       
    }
  }  */
/* 
@media only screen and (max-width: 600px) {
    body {
        background-color: blueviolet; */
        /* background: url(https://s5.gifyu.com/images/practice-background774448d467a20f99.png) no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        overflow: hidden; */
  /*   }
  } 
 
  #question p{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: white;
    font-size: 1.8rem;
  }


 
  #answer button{
    background-color:#90299c;
    border:none;
    color: white;
    padding: 10px 100px 10px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1.5rem;
  }


  #button-next{
    background-color:#1abdce;
    border: 7px solid #1086a2;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 50px;
  }


  #circle1{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    background-color: #1abdce;
    top: -25px;
    left: 50px; */


    /* height: 45px;
    width: 90px;
    border-bottom-left-radius: 20vh;
    border-bottom-right-radius: 20vh;
    background-color:#1abdce;
    margin-left: 50px;
    margin-bottom: 100px; */
  /* }
 */
  





  /* #circle2{
    height: 150px;
    width: 150px;
    background-color: #1abdce;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: -70px; */



   /*  height: 150px;
    width: 150px;
    border-radius: 0 0 0 40vh;
    background-color:#1abdce;
    margin-left: 1250px; */

 /*  }
  
  #background-circle{
    height: 387px;
    width: 100%; 
    border-radius: 50% /0 0 100% 100% ;
    background-color:#0c3062;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  footer #circle4{
  
        height: 150px;
        width: 150px;
        border-radius:  0  40vh 0  0 ;
        background-color:#1abdce;
        margin-top: 10px;
    
  } */