body {
  background-color: #001c4c;
  margin: 0 auto;
  max-width: 750px;
}

.score-section-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#score-section {
  position: fixed;
  height: 500px;
  background-color: #0c3062;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 500px;
  margin-top: -271px;
}

#score-section-safari {
  position: fixed;
  height: 500px;
  background-color: #0c3062;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 500px;
  margin-top: -504px;
}

#points {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: #001c4c;
  border: 8px solid aqua;
  color: white;
  margin-left: 35%;
  margin-top: 300px;
}

#points p {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  font-size: 2rem;
}

#score {
  color: #90299c;
  font-weight: bold;
  margin-right: 10px;
}

#circle1 {
  background-color: #1abdce;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 209px;
  right: 60px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left:0;
}

#button-next {
  background-color: #1ABDCE;
  border: 3px solid #1086A2;
  color: white;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
  z-index: 9;
  margin-bottom: 13px;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px #91299c73;
  }

  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

#startButton {
  z-index: 999;
  background-color: #1ABDCE;
  border: 3px solid #1086A2;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
  position: absolute;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  padding: 26px;
  animation: shadow-pulse 1s infinite;
}

#circle2 {
  background-color: #1abdce;
  width: 61px;
  height: 89px;
  border-radius: 50%;
  position: absolute;
  top: 199px;
  left: 101px;
}

#circle3 {
  background-color: #90299c;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 284px;
  right: 163px;
}

#circle4 {
  background-color: #90299c;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  top: 345px;
  right: 149px;
}

#circle5 {
  background-color: #90299c;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 280px;
  left: 219px;
}

#circle6 {
  background-color: #1abdce;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: absolute;
  top: 327px;
  right: 104px;
}

#circle7 {
  background-color: #1abdce;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  top: 299px;
  left: 167px;
}

#circle8 {
  background-color: #90299c;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  position: absolute;
  top: 318px;
  left: 114px;
}

#total-questions {
  color: white;
  position: absolute;
  left: 50vw;
  bottom: 10%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

#question {
  color: white;
  margin-top: 230px;
  text-align: center;
}

#answer button {
  background-color: #90299c;
  /* width: 100px;*/
  height: 40px;
  border-style: none;
  border-radius: 10px;
  color: white;
  display: block;
  margin: 0 7px;

}

#answer {
  height: 39vh;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  position: relative;
}

/* Footer circles */
#circle9 {
  background-color: #1ABDCE;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: -38px;
}

#circle10 {
  background-color: #1ABDCE;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 64px;
  left: 142px;
}

#circle11 {
  background-color: #1ABDCE;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: absolute;
  top: 44px;
  left: 260px;
}

#circle12 {
  background-color: #0C3062;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 49px;
  left: 199px;
}

#circle13 {
  background-color: #0C3062;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 64px;
  left: 297px;
}

#circle14 {
  background-color: #0C3062;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 55px;
  left: 110px;
}

#circle15 {
  background-color: #0C3062;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 55px;
  left: 85px;
}

#circle16 {
  background-color: #90299C;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  position: absolute;
  top: 35px;
  left: 79px;
}

#circle17 {
  background-color: #90299C;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  position: absolute;
  top: 42px;
  left: 180px;
}

#circle18 {
  background-color: #90299C;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 247px;
}

#circle19 {
  background-color: #0C3062;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 64px;
}

#circle20 {
  background-color: #90299C;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: -9px;
  left: 74px;
}

#circle21 {
  background-color: #1ABDCE;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 28px;
  left: 221px;
}

#modalBoton {
  display: none;
}

#skipQuestionButton {
  display: none;
}

/* @media(max-width: 426px) {
  #answer {
    font-size: smaller;
  }

  #question {
    font-size: smaller;
  }
} */

@media (min-width: 1024px) {
  #answer {
    height: 54vh;
  }

  #circle24 {
    background-color: #1ABDCE;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;
    top: 60px;
    right: 110px;
  }

  #circle25 {
    background-color: #90299C;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    top: 36px;
    right: 450px;
  }

  #circle26 {
    background-color: #0C3062;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: absolute;
    top: 39px;
    right: 350px;
  }

  #circle27 {
    background-color: #1ABDCE;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    position: absolute;
    top: 55px;
    right: 300px;
  }

  #circle28 {
    background-color: #0C3062;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 65px;
    right: 200px;
  }

  #circle29 {
    background-color: #1ABDCE;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    position: absolute;
    top: 33px;
    right: -19px;
  }

  #circle30 {
    background-color: #0C3062;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    right: 190px;
  }

  #circle31 {
    background-color: #90299C;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    right: 250px;
  }

  #circle32 {
    background-color: #90299C;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 23px;
    right: 150px;
  }

  #circle33 {
    background-color: #90299C;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    right: 100px;
  }

  #circle34 {
    background-color: #1ABDCE;
    width: 6px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 19px;
    right: 120px;
  }
}


/* Modal */

.modal-header {
  justify-content: center;
  border-bottom: none;
}

.modal-footer {
  border-top: none;
  margin-top: -5%;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  color: #001c4c;
  font-weight: bold;
  font-size: 2rem;
}

.modal-body {
  text-align: center;
}

.modal-body p {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #001c4c;
  font-size: 1.2rem;
}


#puntuacionTotal {
  text-align: center;
}

img {
  width: 30%;
  height: 30%;
}

.btn-secondary {
  color: #fff;
  background-color: #1ABDCE;
  border-color: #1ABDCE;
}

.btn-secondary:hover {
  background-color: #90299C;
  border-color: #90299C;
}

#button0 {
  position: absolute;
  top: 7%;
  right: 8%;
  animation: bounceIn 3s ease-in-out ;
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
}
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(01);
  }
  }

#button1 {
  position: absolute;
  top:67%;
  right: 16%;
  animation: bounceIn 6s ease-in-out ;
}
#button2 {
  position: absolute;
  top: 61%;
  left: 10%;
  animation: bounceIn 3s ease-in-out;
}
#button3 {
  position: absolute;
  top: 42%;
  right: 41%;
  animation: bounceIn 2s ease-in-out;
}
#button4 {
  position: absolute;
  top: 24%;
  left: 7%;
  animation: bounceIn 4s ease-in-out;
}
#button5 {
  position: absolute;
  top: 0%;
  right: 55%;
  animation: bounceIn 1s ease-in-out;
}
